The Citizenship (Amendment) Act 2005 that amends New Zealands nationality law comes into effect today.

As of today babies will only acquire citizenship at birth if at least one of their parents is a citizen in New Zealand or its dependencies. Babies born to parents who are in New Zealand or its dependencies on holiday will no longer become citizens, as was the case until the end of 2005.

The Department of Internal Affairs website says the changes have been brought in to ensure the benefits of New Zealand citizenship only go to those with a genuine and on-going link to the country.